-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: theknife_db
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `theknife_db`
--

/*!40000 DROP DATABASE IF EXISTS `theknife_db`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `theknife_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `theknife_db`;

--
-- Table structure for table `alergenos`
--

DROP TABLE IF EXISTS `alergenos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alergenos` (
  `ALERGENO` varchar(15) NOT NULL,
  `NUM_ALERGENO` int NOT NULL,
  PRIMARY KEY (`NUM_ALERGENO`),
  UNIQUE KEY `NUM_ALERGENO` (`NUM_ALERGENO`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alergenos`
--

LOCK TABLES `alergenos` WRITE;
/*!40000 ALTER TABLE `alergenos` DISABLE KEYS */;
INSERT INTO `alergenos` VALUES ('Huevos',1),('Pescado',2),('Altramuces',3),('Leche',4),('Mostaza',5),('Cacahuetes',6),('Sulfitos',7),('Soja',8),('Frutos secos',9),('Gluten',10),('Apio',11),('Sésamo',12),('Crustáceos',13),('Moluscos',14);
/*!40000 ALTER TABLE `alergenos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alergias`
--

DROP TABLE IF EXISTS `alergias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alergias` (
  `ID_RESTAURANTE` char(7) NOT NULL,
  `N_PLATO` varchar(30) NOT NULL,
  `NUM_ALERGENO` int NOT NULL,
  PRIMARY KEY (`ID_RESTAURANTE`,`N_PLATO`,`NUM_ALERGENO`),
  KEY `FKAS3` (`NUM_ALERGENO`),
  CONSTRAINT `FKAS1` FOREIGN KEY (`ID_RESTAURANTE`) REFERENCES `restaurantes` (`ID_RESTAURANTE`) ON DELETE RESTRICT,
  CONSTRAINT `FKAS2` FOREIGN KEY (`ID_RESTAURANTE`, `N_PLATO`) REFERENCES `platos` (`ID_RESTAURANTE`, `N_PLATO`) ON DELETE RESTRICT,
  CONSTRAINT `FKAS3` FOREIGN KEY (`NUM_ALERGENO`) REFERENCES `alergenos` (`NUM_ALERGENO`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alergias`
--

LOCK TABLES `alergias` WRITE;
/*!40000 ALTER TABLE `alergias` DISABLE KEYS */;
/*!40000 ALTER TABLE `alergias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `ID_CLIENTE` char(9) NOT NULL,
  `N_CLIENTE` varchar(30) NOT NULL,
  `NUM_TELEFONO` int NOT NULL,
  `EMAIL` varchar(50) DEFAULT NULL,
  `ESTUDIOS` varchar(20) NOT NULL,
  `SEXO` char(1) NOT NULL,
  `EDAD` int NOT NULL,
  PRIMARY KEY (`ID_CLIENTE`),
  UNIQUE KEY `IND1` (`ID_CLIENTE`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comandas`
--

DROP TABLE IF EXISTS `comandas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comandas` (
  `N_PLATO` varchar(30) NOT NULL,
  `ID_FACTURA` char(8) NOT NULL,
  `ID_RESTAURANTE` char(7) NOT NULL,
  `NUM_PEDIDOS` int NOT NULL,
  PRIMARY KEY (`N_PLATO`,`ID_FACTURA`,`ID_RESTAURANTE`),
  KEY `FKCM1` (`ID_RESTAURANTE`,`N_PLATO`),
  KEY `FKCM2` (`ID_FACTURA`,`ID_RESTAURANTE`),
  CONSTRAINT `FKCM1` FOREIGN KEY (`ID_RESTAURANTE`, `N_PLATO`) REFERENCES `platos` (`ID_RESTAURANTE`, `N_PLATO`) ON DELETE RESTRICT,
  CONSTRAINT `FKCM2` FOREIGN KEY (`ID_FACTURA`, `ID_RESTAURANTE`) REFERENCES `facturas` (`ID_FACTURA`, `ID_RESTAURANTE`) ON DELETE RESTRICT,
  CONSTRAINT `FKCM3` FOREIGN KEY (`ID_RESTAURANTE`) REFERENCES `restaurantes` (`ID_RESTAURANTE`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comandas`
--

LOCK TABLES `comandas` WRITE;
/*!40000 ALTER TABLE `comandas` DISABLE KEYS */;
/*!40000 ALTER TABLE `comandas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facturas`
--

DROP TABLE IF EXISTS `facturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facturas` (
  `ID_FACTURA` char(8) NOT NULL,
  `ID_CLIENTE` char(9) NOT NULL,
  `ID_RESERVA` char(8) NOT NULL,
  `PRECIO` decimal(6,2) NOT NULL,
  `VALORACION` int DEFAULT NULL,
  `TIPO_VISITA` varchar(20) DEFAULT NULL,
  `FECHA_FACTURA` date NOT NULL,
  `ID_RESTAURANTE` char(7) NOT NULL,
  PRIMARY KEY (`ID_FACTURA`,`ID_RESTAURANTE`),
  KEY `FKF1` (`ID_CLIENTE`),
  KEY `FKF2` (`ID_RESERVA`),
  KEY `FKF3` (`ID_RESTAURANTE`),
  CONSTRAINT `FKF1` FOREIGN KEY (`ID_CLIENTE`) REFERENCES `clientes` (`ID_CLIENTE`) ON DELETE RESTRICT,
  CONSTRAINT `FKF2` FOREIGN KEY (`ID_RESERVA`) REFERENCES `reservas` (`ID_RESERVA`) ON DELETE RESTRICT,
  CONSTRAINT `FKF3` FOREIGN KEY (`ID_RESTAURANTE`) REFERENCES `restaurantes` (`ID_RESTAURANTE`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facturas`
--

LOCK TABLES `facturas` WRITE;
/*!40000 ALTER TABLE `facturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `facturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platos`
--

DROP TABLE IF EXISTS `platos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `platos` (
  `ID_RESTAURANTE` char(7) NOT NULL,
  `N_PLATO` varchar(30) NOT NULL,
  `T_PLATO` varchar(20) NOT NULL,
  `PRECIO` decimal(6,2) NOT NULL,
  PRIMARY KEY (`ID_RESTAURANTE`,`N_PLATO`),
  CONSTRAINT `FKP` FOREIGN KEY (`ID_RESTAURANTE`) REFERENCES `restaurantes` (`ID_RESTAURANTE`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platos`
--

LOCK TABLES `platos` WRITE;
/*!40000 ALTER TABLE `platos` DISABLE KEYS */;
/*!40000 ALTER TABLE `platos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservas`
--

DROP TABLE IF EXISTS `reservas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservas` (
  `ID_RESERVA` char(8) NOT NULL,
  `ID_CLIENTE` char(9) NOT NULL,
  `NUM_PERSONAS` int NOT NULL,
  `FECHA_RESERVA` date NOT NULL,
  `HORA_RESERVA` char(5) NOT NULL,
  `ID_RESTAURANTE` char(7) NOT NULL,
  `ESTADO_RESERVA` varchar(10) NOT NULL,
  PRIMARY KEY (`ID_RESERVA`,`ID_RESTAURANTE`),
  UNIQUE KEY `ID_RESERVA` (`ID_RESERVA`),
  KEY `FKRV1` (`ID_RESTAURANTE`),
  KEY `FKRV2` (`ID_CLIENTE`),
  CONSTRAINT `FKRV1` FOREIGN KEY (`ID_RESTAURANTE`) REFERENCES `restaurantes` (`ID_RESTAURANTE`) ON DELETE RESTRICT,
  CONSTRAINT `FKRV2` FOREIGN KEY (`ID_CLIENTE`) REFERENCES `clientes` (`ID_CLIENTE`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservas`
--

LOCK TABLES `reservas` WRITE;
/*!40000 ALTER TABLE `reservas` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurantes`
--

DROP TABLE IF EXISTS `restaurantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `restaurantes` (
  `ID_RESTAURANTE` char(7) NOT NULL,
  `NOMBRE` varchar(30) NOT NULL,
  `CIUDAD` varchar(30) NOT NULL,
  `CCAA` varchar(20) NOT NULL,
  `T_COMIDA` varchar(20) NOT NULL,
  `PRESUPUESTO` int NOT NULL,
  `ESTRELLA_MICH` int NOT NULL,
  `CADENA` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`ID_RESTAURANTE`),
  UNIQUE KEY `IND1` (`ID_RESTAURANTE`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurantes`
--

LOCK TABLES `restaurantes` WRITE;
/*!40000 ALTER TABLE `restaurantes` DISABLE KEYS */;
/*!40000 ALTER TABLE `restaurantes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-26 17:46:56
